* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(images/bg.jpg) no-repeat center center fixed;  
  background-size: cover;  
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;  
}

main, #js-question-and-score, #js-question-form, #js-answer-choices {
  display: flex;
  flex-direction: column;
}

main p {
  font-size: 18px;
}

header h1 {
  margin: 25px 0;
  font-size: 36px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main {
  width: 95%;
  margin: 0 auto;  
}

button {
  background-color: #fff;
  color: #2c3e50;  
  border: 3px solid #2c3e50; 
  border-radius: 0px;
  padding: 10px 15px;
  font-weight: bold;
}

button:hover, button:active {
  border-color: #2ecc71;
}

button:disabled {
  background-color: #bdc3c7;
  border-color: #2c3e50; 
}

section, .js-answer-status {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Intro */
section#intro, section#final-results {
  text-align: center;
  padding: 25px 15px;
}

#intro-text, #final-results p {  
  margin: 0 0 30px 0;
}

/* Question Num & Score */
#js-question-and-score {
  width: 150px;
  padding: 15px;  
  margin-bottom: 25px;
  align-items: flex-end;
  align-self: flex-end;
}

#js-question-and-score p {
  margin: 5px 0;
}

/* Questions */
section#questions {
  padding: 25px 15px;
  font-size: 18px;
}

#js-question {
  padding-bottom: 25px;  
}

.js-answer-choice {  
  margin: 10px;
}

#js-next-container {
  display: flex;  
  justify-content: flex-end;
  margin: 10px 10px 0 0 ;
}

#js-next {
  display: none;  
}

/* Answer Status */
.js-answer-status {
  margin-top: 25px;
  padding: 15px;
  font-size: 18px;
}

@media (min-width: 700px) {
  main {
    width: 80%;    
  }

  #js-answer-choices {
    flex-direction: row;
  }
  
  .js-answer-choice {
    flex: 1;
  }

}

@media (min-width: 1024px) {
  main {
    width: 50%;    
  }
}